/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2020, 4:47:57 a.m.
    Author     : cielestrial
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* align safety */
body {
    text-align: center;
    font-size: 100%;
    font-family: Veranda, Helvectica, Geneva, Arial, sans-serif;
    background-color: black;
}

.fit {width: fit-content; height: fit-content;}

.my-brand {
    font-weight: bold;
    color: #ccffff;
    margin: 0rem 1.5rem;
    line-height: 2rem;
    font-size: 1.5rem;
}

.my-link {
    font-weight: bold;
    color: blanchedalmond;
    text-decoration: none;
    margin: 0rem 1rem;
    line-height: 2rem;
    font-size: 1.25rem;
  }

.my-link:hover {
  color: #ccffff;;
}

 .not-button {
    font-weight: bold;
    color: blanchedalmond;
    text-decoration: none;
    background: none;
    border-style: ridge;
    border-color: rgba(255, 235, 205, 0.15);
    border-radius: 2rem;
    height: 2em;
    width: 2em;
}

.not-default {
    font-weight: bold;
    color: blanchedalmond;
    text-decoration: none;
    background: none;
    border: none;
}

 .active {
    color: #ccffff;
}

/* table */
#SurveyForm table.placement {
    width: 75vw;
    height: auto;
    margin: auto auto 3vw;
}

/* table title */
#SurveyTable caption {
    display: table-caption;
    text-align: center;
    caption-side: top;
    font-weight: bold;
    font-size: calc(16px + 0.625vw);
    color: beige;
    margin: 25px auto 2.5vh;
}


/* cells */
#SurveyTable td {
    font-weight: bold;
    max-width: 25em;
}

#SurveyTable .custom-radio td:nth-child(1) {
    text-align: right;
}

#SurveyTable .custom-radio td:nth-child(2) {
    text-align: left;
}

/* 2,4,6 columns */
#SurveyTable td:nth-child(even) {
    background-color: #cccccc;
    color: black;
}

/* 3,5 columns */
#SurveyTable td:nth-child(odd):not(:first-child) {
    background-color: #666666;
    color: floralwhite;
}

#SurveyTable td:first-child {
    background-color: #cccccc;
    color: black;
}

#welcome {    
    color: bisque;
    width: 45vw;
    height: 7.5vh;
    margin: 2em auto 0;
    font-style: italic;
}
#webTitle {    
    color: #ccffff;
    width: 45vw;
    height: 7.5vh;
    margin: 2em auto 0;
    font-style: italic;
}

p {
    font-size: calc(20px + 0.125vw);
    color: beige;
    width: 50vw;
    height: auto;
    margin: 1em auto;
    text-align: left;
}

#graphsP {
    margin: 1em auto;
    text-align: center;
}

#warning {
    color: #ccffff;
}

canvas {
    background-color: white;
    width: 50vw;
    height: 37.5vw;
    margin: auto;
}

#textArea {
    min-width: 400px;
    width: 50vw;    
    height: auto;
    margin: auto auto 5vh;
    background-color: beige;
}

#submitButton {
    min-width: 75px;
    margin: auto auto 2em auto;
    font-weight: bold;
}

#formFile {
    border:hidden;
    background-color: black;
    min-width: 100px;
    width: 17.5vw;    
    height: fit-content;
    color: #cccccc;
    margin: 10vh auto;
}

#book {
    display: inline-block;
    width: 100%;
    text-align: center;
    border-style: dashed;
    color: rgba(204, 255, 255, 0.5);
    border-color: rgba(204, 255, 255, 0.5);
    text-decoration: none;
}

.lost_pane {
    background-color: rgba(0, 0, 0, 0.5); 
    position: fixed;    
    top: 3.5em;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: not-allowed;
}

.main_text {
    text-align: center;   
    font-size: 3.5em;    
    font-weight: 700;
    font-style: normal; 
}

.sub_text {
    color: rgb(226, 237, 248);
    text-align: left;
    font-size: 1.8em;
    font-style: italic;
    font-weight: 500;
}

.text_pane {
    margin: 4em auto;
    width: 100%;
    padding: 0 2em;
    text-align: center;
}

.sub_text_pane {
    margin: 1em auto;
    width: fit-content;
}

.error_code {
    color: #ccffff;
}

.error_desc {
    color: bisque;
}
